* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
    list-style: none;
    text-decoration: none;
    font-size: calc(20px + (30px - 20px) * (100vw - 400px) / (1440 - 400));
}

.sociais {
    display: flex;
    flex-direction: column;
    position: fixed;
    bottom: 20px;
    left: 20px;
    gap: 10px;
}

.sociais img {
    width: 40px;
}

nav {
    background-color: rgb(53,176,120);
    display: grid;
    grid-template-columns: 2fr 1fr;
    place-items: center;
    gap: 2vw;
    width: 100vw;
    position: fixed;
    top: 0;
    left: 0;
    padding-bottom: 2vh;
    font-weight: 700;
    padding: 1em;
    border-bottom: 1px solid black;
}

.nav-left {
    margin-top: 1vh;
}

.nav-left ul {
    margin-top: 2.5vh;
    display: flex;
    gap: 1vw;
    color: white;
}

.nav-left a {
    color: white;
    transition: 1s;
}

.nav-left a:hover {
    color: black;
}

.nav-right {
    display: flex;
    gap: 1vw;
    align-items: center;
}

.nav-right div {
    display: flex;
    flex-direction: column;
}

.doacao {
    display: flex;
    align-items: center;
    border-radius: 5px;
    border-color: transparent;
    margin: 2.5vh 0;
    padding: 10px 0;
    box-shadow: 0px 2px black;
}

.doacao img {
    width: 2.5vw;
    height: 2.5vh;
}

.nav-right ul {
    display: flex;
    gap: 5px;
}

.nav-right .linguas {
    display: flex;
    flex-direction: row;
    gap: 10px;
    margin-left: 20px;
}

main {
    margin: 12.5% auto 0;
    width: 90%;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}

main div {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    width: 45%;
    margin-bottom: 5%;
}

main div h1 {
    color: #23ADD9;
}

main div img {
    margin-bottom: 30px;
}

.text{
    text-align: center;
    font-size: 13px;
}

.titulo{
    color: green;
    font-size: 35px;
}

.fundo1{
    text-align: center;
    padding: 5%;
    background-color: rgba(33, 167, 0, 0.603);
    margin-top: 110px;
    font-size: 20px;
}

.fundo1 h2{
    font-size: 15px;
    margin-top: 100px;
}

input{
    background-color: rgba(255, 255, 255, 0.253);
    border: 0px solid;
    width: 150px;
    height: 40px;
    padding-left: 20px;
}

.botao{
    margin-top: 50px;
}

#mensagem{
    margin-right: 0px;
    margin-top: 10px;
    width: 310px;
    height: 100px;
    padding-left: 115px;
}

#email{
margin-left: 5px;
padding-left: 48px;
}

#assunto{
    margin-right: 161px;
    margin-top: 8px;
    padding-left: 38px;
}

#nome{
    padding-left: 50px;
}

#enviar{
    margin-top: 80PX;
    width: 355px;
    padding-left: 150px;
    border-radius: 20px;
    background-color: rgba(7, 231, 201, 0.76);
}